<h1>Ayuda</h1>

<p>
    El objetivo de este juego es responder a todas las preguntas posibles. Para ello escribe tu respuesta en la caja de texto. El objetivo de este quiz es puramente didactico.

</p>
